@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --med-dark-grey: #555;
  font-size: 62.5%;
}

body {
  font-family: "Rubik", "Inter", sans-serif;
  color: var(--med-dark-grey);
  line-height: 1;
  font-weight: 400;
  margin-top: 8rem;
}

/* ********* hero section *********** */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 8.6rem 0;
}

.hero {
  max-width: 120rem;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.2rem;
  margin: 0 auto;
  align-items: center;
  gap: 6.6rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-img {
  display: flex;
}

.delivered-img img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100%;
  margin-right: -1.6rem;
  border: 2px solid #fff;
}

.delivered-img img:last-child {
  margin: 0;
}

.delivered-text {
  font-weight: 600;
  font-size: 1.5rem;
}

.delivered-text span {
  color: #cf711f;
}

.logo {
  height: 2.2rem;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ******************** */
/* Header code */
/* ******************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
  font-size: 1.6rem;
  align-items: center;
}

.main-nav-links:link,
.main-nav-links:visited {
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  color: #333;
  text-decoration: none;
}

.main-nav-links:hover,
.main-nav-links:active {
  color: #cf711f;
}

.nav-cta:link,
.nav-cta:visited {
  color: #fff;
  background-color: #cf711f;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(253, 242, 233, 0.9);
  /* box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06); */
  z-index: 9999;
}
/* ***************** */

/* *********** */
/* How it works code */
/* ************ */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* ****************** */

/* *********** */
/* How it works code */
/* ************ */

.section-how {
  padding: 9.6rem 0;
}
/* 
.section-how div div {
  padding: 100px;
  font-size: 50px;
  background-color: #333;
  color: #fff;
} */

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 35%;
}

.step-number {
  font-size: 8.6rem;
  color: #ccc;
  font-weight: 700;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.step-img-box::before {
  width: 60%;
  /* 60% of Parents element width */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -1;
}

.step-img-box::after {
  width: 50%;
  /* 50% of Parents element width */
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}
/* ***************** */

/* *********** */
/* How it works code */
/* ************ */

.section-meals {
  padding: 9.6rem 0;
}

.card-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
}

.meals:hover {
  transform: translateY(-20px);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 500;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attribute {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #cf711f;
}

.meal-img {
  width: 100%;
}

strong {
  font-weight: 500;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
  text-transform: capitalize;
}

/* *********** */
/* How it works code */
/* ************ */

.section-testimonial {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem 3.2rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
  align-items: center;
  justify-content: center;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
  margin: 0 auto;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.5s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* **************** */
/* Pricing section */
/* *************** */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.plan-starter {
  justify-self: end;
  border: 2px solid #fae5d3;
}

.plan-complete {
  background-color: #fdf2e9;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
}

.plan-complete::after {
  display: block;
  content: "Best Value";
  width: 200px;
  height: 10px;
  position: absolute;
  top: 7%;
  right: -15%;
  background-color: #ffd43b;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  transform: rotate(45deg);
  color: #333;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 7.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #676767;
}

.plan-sign-up {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

.feature-icon {
  color: #e67e22;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* **************** */
/* CTA section */
/* *************** */

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom, #eb784e, #e67e22);
  border-radius: 1rem;
  overflow: hidden;
}

.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.2rem 6.2rem 6.2rem;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 120, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-weight: 500;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #fdf2e9;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
}

.cta input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(124, 63, 9, 0.5);
}

/* **************** */
/* Footer section */
/* *************** */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icons {
  width: 2.4rem;
  height: 2.4rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-links:link,
.footer-links:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #767676;
}

.footer-links:hover,
.footer-links:active {
  color: #555;
}
